<div class="panel-body">
  <div class="row">
    <div class="col-lg-6">
      <%= form_for @employee, as: :employee, url: @employee.new_record? ? employees_path : employee_path(@employee) do |f| %>
      <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@employee.errors.count, "error") %>
          prohibited
          this employee from being saved:
        </h2>
        <ul>
          <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email,  class: "form-control", disabled: @employee.new_record? ? false : true %>
      </div>

      <div class="form-group">
       <%= f.label :full_name %><br>
       <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
     </div>

     <div class="form-group">
       <%= f.label :role %><br>
       <%= select_tag :role, options_for_select(Role.all.pluck(:name).map{ |s| [s, s] }) , class: "form-control" %>
     </div>

     <div class="form-group">
      <%= f.label :address %><br>
      <%= f.text_area :address, class: "form-control", placeholder: "Address" %>
    </div>


    <div class="form-group">
     <%= f.label :Phone %><br>
     <%= f.number_field :phone, class: "form-control", placeholder: "Phone" %>
   </div>


   <div class="form-group">
     <%= f.label :skype %><br>
     <%= f.text_field :skype, class: "form-control", placeholder: "Skype" %>
   </div>

   <div class="actions">
    <%= f.submit "Submit", class:"btn btn-primary"%>
  </div>


  <% end %>
</div>
</div>
</div>