<div class="panel-body">
  <div class="row">
    <div class="col-lg-6">
      <%= form_for(@request) do |f| %>
      <% if @request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

        <ul>
          <% @request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :leave_date %><br>
        <%= f.datetime_select :leave_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :comeback_date %><br>
        <%= f.datetime_select :comeback_date , class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :request_type %><br>
        <%= select_tag :holiday_type_id, options_for_select(HolidayType.all.map{ |s| [s.title, s.id] }), class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class:"form-control", rows:3%>
      </div>
      <fieldset disabled>
        <div class="form-group">
          <%= f.label :status_request %><br>
          <%= f.select :leave_status, options_for_select(Request.leave_statuses, selected: @request.leave_status), {} , class: "form-control" %>
        </div>
      </fieldset>

      <%= f.submit "Submit", class:"btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
